SPRING_PROFILES_ACTIVE=

POSTGRES_USER=ENTER_YOUR_DATABASE_USER
POSTGRES_PASSWORD=ENTER_YOUR_DATABASE_PASSWORD

PGADMIN_DEFAULT_EMAIL=ENTER_YOUR_PGADMIN_EMAIL
PGADMIN_DEFAULT_PASSWORD=ENTER_YOUR_PGADMIN_PASSWORD
PGADMIN_CONFIG_SERVER_MODE=ENTER_YOUR_PGADMIN_SERVER_MODE
PGADMIN_LISTEN_PORT=ENTER_YOUR_PGADMIN_LISTEN_PORT

MS_AUTH_PORT=ENTER_YOUR_AUTH_PORT
MS_LOAN_APPLICATIONS_PORT=ENTER_YOUR_LOAN_APPLICATIONS_PORT

AUTH_MICROSERVICE_URL=ENTER_YOUR_AUTH_MICROSERVICE_URL

CORS_AUTH=ENTER_YOUR_CORS_AUTH
CORS_LOAN_APPLICATIONS=ENTER_YOUR_CORS_LOAN_APPLICATIONS

R2DBC_HOST=ENTER_YOUR_R2DBC_HOST
R2DBC_PORT=ENTER_YOUR_R2DBC_PORT
R2DBC_SCHEMA=ENTER_YOUR_R2DBC_SCHEMA
R2DBC_USERNAME=ENTER_YOUR_R2DBC_USERNAME
R2DBC_PASSWORD=ENTER_YOUR_R2DBC_PASSWORD

R2DBC_AUTH_DATABASE=ENTER_YOUR_R2DBC_AUTH_DATABASE
R2DBC_LOAN_DATABASE=ENTER_YOUR_R2DBC_LOAN_DATABASE

JWT_SECRET_KEY=ENTER_YOUR_JWT_SECRET_KEY